h1{
    text-align: center;
    color: slateblue;
}

div.contenedor{
    width: 80%;
    height: 20%;
    overflow: auto;
    margin: auto;
    border: 3px dashed mediumpurple;
}

span{
    font-weight: bolder;
    font-style: italic;
    font-size: larger;
    background-color:lavender;
    border: 1px solid mediumorchid;
    height: 50px;
    padding: 5px;
    display: inline-block;
}
