h1{
    text-align: center;
    color:coral;
}

div.contenedor{
    border: 3px dashed seagreen;
    width: 30%;
    height: 100px;
    margin: auto;
    /*overflow: visible;*/
    /*overflow: hidden;*/
    /*overflow: scroll;*/
    overflow: auto;
}
