*{
    background-color: ghostwhite;
    color: cornflowerblue;
}

#titulo{
    color: mediumpurple;
    text-align: center;

}

.centrar-texto{
    text-align: center;
}

.texto_grande{
    font-size: 20px;
}
