h1{
    text-align: center;
    color: rgb(28, 153, 84);
}

div.contenedor{
    width: 30%;
    height: 20%;
    margin: auto;
    border: 3px solid darkgreen;
    padding: 15px;
    color: lightseagreen;
    text-align: center;
}

div.contenedor:hover{
    background-color: rgb(192, 245, 192);
    color:rgb(28, 153, 84);
}

div.contenedor.oculto p{
    display: none;
}

div.contenedor.oculto:hover p{
    display: block;
    background-color: rgb(28, 153, 84) ;
    color: rgb(192, 245, 192) ;
    padding: 15px;
}

div.contenedor.primero p:first-child{
    font-variant: small-caps;
}
