h1{
    text-align: center;
    text-shadow: 2px 2px 2px hsl(16, 95%, 62%);
    color: orangered;
}

div.contenedor{
    width: 30%;
    height: 20%;
    margin: auto;
    border: 3px solid #ff4500;
    padding: 15px;
    text-align: center;
    box-shadow: 2px 2px 5px 2px grey;
    color: rgb(255, 76, 5);
    border-radius: 15px;
}

p{
    color: black;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div.cabecero{
    background-color: #ffa68b;
}

div.cuerpo{
    padding-top: 2px;
    font-size: 1.2em;
    font-weight: bolder;
    text-shadow: 2px 2px rgb(177, 177, 177);
}
