html{
    height: auto;
    min-height: 100%;
}

body{
    background: linear-gradient(rgb(228, 116, 76), #3a0ca3);
}

h1{
    text-align: center;
    color: black;
}

div.contenedor{
    width: 30%;
    height: 20%;
    margin: auto;
    border: 3px solid orangered;
    padding: 15px;
    text-align: center;
}

p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
